<html lang="en">

<head>
    <title>About</title>
    {{>head}}
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>Geocode data is from <a href="https://geocode.maps.co/">geocode.maps.co</a>.</p>
    <p>Forecast data is from <a href="https://open-meteo.com/">open-meteo.com</a>.</p>
    <p>And this site was created by {{developer}}.</p>
    <a href="{{githubLink}}"><img class="GH-Logo" src="/img/Github_Logo.png" alt="GitHub"></a>
    <a href="{{telegramLink}}"><img class="TG-Logo" src="/img/Telegram_Logo.svg" alt="Telegram"></a>
    <a href="{{xLink}}"><img class="X-Logo" src="/img/X_Logo.png" alt="X"></a>
</div>
</body>

</html>